﻿<!-- Header code starts here -->
<header class="">

    <div class="top-header-line">
        <div class="outer-section">
            <div class="custom-wrapper">
                <ul class="header-account">
                    <li><a href="https://tickets.southwesternrailway.com/sw/en/account/orderhistory"><i class="fa fa-user-circle" aria-hidden="true"></i>My Account</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- custom-wrapper -->
    <div class="second-header-bottom" id="stickyheader">
        <div class="outer-section">
            <div class="custom-wrapper">
                <a class="logo" href="https://www.southwesternrailway.com/" title="">
                    @*<img alt="South Western Railway" src="img\SWR-logo.svg">*@
                    <img alt="South Western Railway" src="/~/media/Images/SWR-logo.ashx">
                </a>
                <ul class="top-links-nav hidden-mobile">
                    <li><a href="https://www.southwesternrailway.com/train-tickets">Train Tickets</a></li>
                    <li><a href="https://www.southwesternrailway.com/plan-my-journey">Plan My Journey</a></li>
                    <li><a href="https://www.southwesternrailway.com/travelling-with-us">Travelling With Us</a></li>
                    <li><a href="https://www.southwesternrailway.com/destinations-and-offers">Destinations and Offers</a></li>
                    <li><a href="https://www.southwesternrailway.com/contact-and-help">Help and Support</a></li>

                </ul>
                <div class="side-menu-mobile menu-collapse-mobile hidden-desktop">
                    <span id="menuIcon" class="hamburger">&#9776;</span>
                    <div id="mySidenav" class="sidenav ">
                        <ul>
                            <li class="Menu"><a href="#">Menu</a></li>
                            <li><a href="https://www.southwesternrailway.com/train-tickets">Train Tickets</a></li>
                            <li><a href="https://www.southwesternrailway.com/plan-my-journey">Plan My Journey</a></li>
                            <li><a href="https://www.southwesternrailway.com/travelling-with-us">Travelling With Us</a></li>
                            <li><a href="https://www.southwesternrailway.com/destinations-and-offers">Destinations and Offers</a></li>
                            <li><a href="https://www.southwesternrailway.com/contact-and-help">Help and Support</a></li>
                            <li><a href="/">My Account</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- custom-wrapper -->



</header>
