﻿@using FaultyReportingForm.Models
@model FaultyForm_Mod
@{
    ViewBag.Title = "Faulty Reporting Form";
}

<style>
body {
    font-family: "Weissenhof Grotesk", sans-serif!important;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
   
}
   

        .form-container .form-control {
            cursor: pointer;
            background: #fff !important;
            border: none !important;
            outline: none !important;
            padding-left: 10px;
            min-height: 42px;
            line-height: 42px !important;
            font-size: 16px !important;
            font-style: normal;
            font-variant: normal;
            font-family: "Weissenhof Grotesk", sans-serif;
            font-weight: 400;
            border-radius: 4px;
        }

    .frc-text {
        margin: 0.67em 0;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.2px;
        margin-top: 0;
        font-weight: lighter;
    }


    .btn-submit-form {
        background: #0092CB;
        font-family: "Weissenhof Grotesk", sans-serif;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        padding: 12px 18px;
        display: inline-block;
        text-decoration: none;
        border-radius: 4px;
        min-width: 180px;
        font-size: 18px;
        color: #fff;
        line-height: 1;
        font-weight: 500;
        outline: none;
        transition: background 0.2s;
    }
    .form-group{position:relative;}
    .p-l-0 {
        padding-left: 0px;
    }
    /*.errors{text-align:right;}
   .errors::after {
    background-color: #CC0701;
    transition: width .5s;
    width: 100%;
}
    .errors::before {
    content: '\f057';
     font: normal normal normal 24px/1 FontAwesome;
    position: absolute;
    top: -48px;
    right: 9px;
    color: #CC0701;
    box-sizing: border-box;
}*/
  .form-container label {
    font-weight: 100;
} 



  
.bootstrap-timepicker-widget table {
    width: 100%;
    margin: 0;
}
.bootstrap-timepicker-widget table td:not(.separator) {
    min-width: 30px;
}
.bootstrap-timepicker-widget table td {
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 2px;
}
.bootstrap-timepicker-widget table td a {
    border: 1px transparent solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
    outline: 0;
    color: #333;
}
.bootstrap-timepicker-widget table td span {
    width: 100%;
}
.bootstrap-timepicker-widget table td input {
    width: 40px;
    margin: 0;
    text-align: center;
 font-size: 14px;
}


</style>

<script src="~/Scripts/foundation-datepicker.js"></script>

@Html.ValidationSummary(true)
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center frc-text">Fault Report Form</div>
        </div>
    </div>
    <div class="row">
        <div class="form-container col-md-8 col-xs-12 col-md-offset-2">
            @using (Html.BeginForm("Index_Post", "TriggerEmail", FormMethod.Post, new { @id="form1", enctype = "multipart/form-data" }))
            {
                <div class="" id="Form1">

                    <div class="form-group" id="FName">

                        @Html.Label("First Name*", new { @id = "lblFirstName" })
                        @*<input type="text" class="form-control" id="txtFirstName" name="firstName">*@
                        <div class="input-wrapper validation-error">   @Html.TextBoxFor(m => m.firstName, new { @type = "text", @id = "txtFirstName", @class = "form-control validation-error" })</div> 
                        @Html.ValidationMessageFor(m => m.firstName)



                    </div>
                    <div class="form-group" id="LName">

                        @Html.Label("Last Name*", new { @id = "lblLastName" })
                        @*<input type="text" class="form-control" id="txtLastName" name="lastName">*@
                        @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @type = "text", @id = "txtLastName" })
                        @Html.ValidationMessageFor(m => m.lastName)


                    </div>

                    <div class="form-group" id="Email">

                        @Html.Label("Email Address*", new { @id = "lblEmailAddress" })

                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "text", @id = "txtemail" })
                        @Html.ValidationMessageFor(m => m.email)



                    </div>
                    <div class="form-group" id="Phone">

                        @Html.Label("Phone Number", new { @id = "lblPhoneNumber" })

                        @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @type = "text", @id = "txtphone" })
                        @Html.ValidationMessageFor(m => m.phone)


                    </div>

                    <div class="form-group">

                        @Html.Label("Is the fault on a train or at the station? ", new { @id = "lblfaultType" })
                        <select class="form-control" id="Station" name="faultType">
                            <option>Please select one</option>
                            <option>On a SWR train</option>
                            <option>At a rail station</option>
                        </select>


                    </div>

                </div>
                <div class="section1 m-t-10" id="Form2">

                    <div class="">
                        <div class="form-group" id="departureCheck">

                            @Html.Label("Which station did this train leave from?", new { @id = "lbldepartureStation" })

                            @Html.TextBoxFor(m => m.departureStation, new { @class = "form-control", @type = "text", @id = "txtdepartureStation" })
                            @Html.ValidationMessageFor(m => m.departureStation)


                        </div>

                        <div class="form-group">

                            @Html.Label("What time was the train scheduled to depart?", new { @id = "lbldepartureTime" })

                            @*@Html.TextBoxFor(m => m.departureTime, new { @class = "form-control", @type = "time" })*@

                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="time" type="text" class="form-control input-small" name="departureTime">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                             @*<input type="text" id="time" class = "form-control" name="departureTime">*@
                            @Html.ValidationMessageFor(m => m.departureTime)


                        </div>

                        <div class="form-group" id="destinationCheck">

                            @Html.Label("Where was the train’s ultimate destination?", new { @id = "lbldestinationStation" })

                            @Html.TextBoxFor(m => m.destinationStation, new { @class = "form-control", @type = "text", @id = "txtdestinationStation" })
                            @Html.ValidationMessageFor(m => m.destinationStation)


                        </div>

                        <div class="form-group" id="FaultLocation">

                            @Html.Label("What is the coach number or carriage number? (Inside above the interconnecting doors or outside at the front and rear of the train)", new { @id = "lblfaultlocation" })

                            @Html.TextBoxFor(m => m.faultlocation, new { @class = "form-control", @type = "text", @id = "txtfaultlocation" })
                            @Html.ValidationMessageFor(m => m.faultlocation)


                        </div>
                        <div class="form-group">

                            @Html.Label("What time did you notice the fault?", new { @id = "lblTime" })

                            @*@Html.TextBoxFor(m => m.faultTime, new { @type = "text", @id = "txtfaultTime" })*@
                            @*@Html.TextBoxFor(m => m.faultTime, "{0:yyyy-MM-dd}", new { @class = "dateInput", @placeholder = "plz input date" })*@

                            @*@Html.TextBoxFor(m => m.faultTime, new { @type = "date", @Value = Model.faultTime.ToString("yyyy-MM-dd") })*@
                            @*@Html.EditorFor(model => model.faultTime, new { @type = "date" })*@
                            @*@Html.TextBox("", Model.ToString("dd/MM/yyyy"))*@
                            @*@Html.TextBoxFor(model => model.faultTime, new { @class = "date form-control" })
                            @Html.ValidationMessageFor(m => m.faultTime)*@

                                @*<input type="text" name="faultTime" class="from-date-picker date form-control" />*@
                            @Html.TextBoxFor(m => m.faultTime, new { @name = "faultTime", @class = "from-date-picker date form-control", @id = "timepicker" , @readonly = true })
                        </div>
                        <div class="form-group" id="FaultDescription">

                            @Html.Label("Please describe the fault in as much detail as possible including the specific location in the train (1500 characters maximum)*", new { @id = "lblfaultDescription" })

                            @Html.TextAreaFor(m => m.faultDescription, 5,100 , new { @class = "form-control", @type = "text", @id = "txtfaultDescription" })
                            @Html.ValidationMessageFor(m => m.faultDescription)


                        </div>
                        
                    </div>

                </div>

                <div class="section2" id="Form3">
                    <div class="">
                        <div class="form-group">

                            @Html.Label("Which station was this?", new { @id = "lblStnFaultdepartureStation" })

                            @Html.TextBoxFor(m => m.StnDepartureStation, new { @class = "form-control", @type = "text", @id = "txtStndepartureStation" })
                            @Html.ValidationMessageFor(m => m.StnDepartureStation)


                        </div>

                        <div class="form-group">

                            @Html.Label("Where on the station is the fault?", new { @id = "lblfaultLocation" })

                            <select class="form-control" id="FaultArea" name="faultLocationDropdown">
                                <option>Please select one</option>
                                <option>Station Building</option>
                                <option>Platform</option>
                                <option>Toilets</option>
                                <option>Car park</option>
                                <option>Waiting Room</option>
                                <option>Overbridge</option>
                                <option>Subway</option>
                                <option>Other</option>
                            </select>

                        </div>

                        <div class="form-group" id="Other">

                            @Html.TextBoxFor(m => m.Other, new { @class = "form-control", @type = "textarea", @id = "Other" })
                            @Html.ValidationMessageFor(m => m.Other)


                        </div>
                        <div class="form-group" id="stnFaultDescription">

                            @Html.Label("Please describe the fault in as much detail as possible (1500 characters maximum)*", new { @id = "lblStnFaultfaultDescription" })

                            @Html.TextAreaFor(m => m.stnFaultDescription, 5, 100, new { @class = "form-control", @type = "textarea", @id = "txtStnfaultDescription" })
                            @Html.ValidationMessageFor(m => m.stnFaultDescription)


                        </div>
                    </div>
                </div>
                <div class="form-group" id="general">
                    @Html.Label("Would you like to add a photo of this fault (max 5 MB)?", new { @id = "lblStnFaultPhoto" })

                    @*@Html.TextBoxFor(m => m.Photo, new { @class = "form-control", @type = "file", @id = "txtStnPhoto" })
                        @Html.ValidationMessageFor(m => m.Photo)*@
                    <input type="file" name="file" id="file" />


                </div>


                <div class="form-group">
                    <div class="g-recaptcha" data-callback="recaptchaCallback" id="rcaptcha" data-sitekey=@System.Configuration.ConfigurationManager.AppSettings["Sitekey"]></div>
                    <span id="captcha" style="margin-left:100px;color:red" />
                </div>
                <div class="col-sm-12 p-l-0">
                    <div class="form-group">
                        <input id="submit" disabled type="submit" class="btn btn-default btn-submit-form" value="Submit" name="submit">
                        @*<input id="submit" type="submit" class="btn btn-default btn-submit-form" value="Submit" name="submit">*@
                    </div>
                </div>

                <div class="col-sm-12 p-l-0" id="lblloader">
                    <img src="img/Loader.gif" alt="Loading..." />
                    </div>

                    }
                </div>

    </div>


</div>


<script>
    var appUrl1 = '@Url.Action("GetAllStationInformationNew", "TriggerEmail")';
    $.post(appUrl1, function (result) {
        var availableTags = [];
        if (result.response != null) {
            for (i = 0; i < result.response.length; i++) {
                {
                    availableTags.push((result.response[i].stationName + " (" + result.response[i].CRSCode) + ")");
                }
            }
        }
        $("#txtdepartureStation").autocomplete({
            source: availableTags,
            minLength: 02
        });
        $("#txtdestinationStation").autocomplete({
            source: availableTags,
            minLength: 02
        });
        $("#txtStndepartureStation").autocomplete({
            source: availableTags,
            minLength: 02
        });
    }).fail(function (err) {
        alert(err);
    });


$(document).ready(function(){
$("#timepicker").datepicker({ dateFormat: 'dd-mm-yy' });
var d = new Date();
var month = d.getMonth()+1;
var day = d.getDate()-1;
var output = (('' + day).length < 2 ? '0' : '') + day + '/' +
    ((''+month).length<2 ? '0': '' ) + month + '/' +
                         ((''+day).length<2 ? '0' : '') + day + '/' + d.getFullYear() +' '+   strTime +' '+ ampm;
$('#timepicker').val(output);
});
    // Create start date
    var start = new Date(),
        prevDay,
        startHours = 00;

    // 09:00 AM

 var hours = start.getHours();
  var minutes = start.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes;


    start.setHours(hours+12);
    start.setMinutes(minutes);
 var finaldate=new Date();
  finaldate.setMonth(-2);

    // If today is Saturday or Sunday set 10:00 AM
    if ([6, 0].indexOf(start.getDay()) != -1) {
 debugger;
        start.setHours(0);
        startHours = 24
    }


    $('#timepicker').datepicker({
        timepicker: true,
        language: 'en',
        startDate: start,
  minDate:finaldate,
  maxDate: start,
        minHours: startHours,
  format:"dd/mm/yy",
        maxHours: 24,
        onSelect: function (fd, d, picker) {
            // Do nothing if selection was cleared
            if (!d) return;

            var day = d.getDay();

            // Trigger only if date is changed
            if (prevDay != undefined && prevDay == day) return;
            prevDay = day;


            // If chosen day is Saturday or Sunday when set
            // hour value for weekends, else restore defaults
            if (day == 6 || day == 0) {

                picker.update({
                    minHours: 00,
                    maxHours:24
                })
            } else {
                picker.update({
                    minHours: 00,
                    maxHours: 24
                })
            }
        }
    })

</script>