﻿
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/Form1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="/css/example.css" rel="stylesheet">
<link href="/css/template-style.css" rel="stylesheet">
<link href="/css/media.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
@*<link href="/css/foundation-datepicker.css" rel="stylesheet">
<link href="/css/foundation-datepicker.min.css" rel="stylesheet">*@
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-timepicker.js"></script> 
<link href="/css/timepicker.css" rel="stylesheet">
<script src='https://www.google.com/recaptcha/api.js'></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.17/jquery.datetimepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.17/jquery.datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.17/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@*<script src="https://code.jquery.com/jquery-1.10.2.js"></script>*@
<link href="/css/datepicker.css" rel="stylesheet">
<script src="~/Scripts/datepicker.js"></script>
<script src="~/Scripts/datepicker.en.js"></script>
 
<script>     
	$(document).ready(function(){
		$('#menuIcon').click(function(){
		if($(this).hasClass('hamburger')){
			$("#mySidenav").css('width',"100%");
			$(this).removeClass('hamburger').addClass('cross');
			$("body").css('overflow',"hidden");
			$(this)[0].innerHTML = '&times;';
		} else {
			$("#mySidenav").css('width',"0");
			$(this).removeClass('cross').addClass('hamburger');
			$("body").css('overflow',"auto");
			$(this)[0].innerHTML = '&#9776;';
		}

		})
	})
</script>

@using Sitecore.Mvc
<html>
<head>
    <title>@Html.Sitecore().Field("PageTitle")</title>
</head>
<body>
    <div>
        @*@Html.Sitecore().Field("TrainTickets")*@
    </div>

    <div id="MainPanel">
        <div id="CenterColumn">
            <div id="InnerCenter">
                <div id="Content">
                    @Html.Sitecore().Placeholder("main")
                    @Html.Sitecore().Placeholder("main1")
                    @Html.Sitecore().Placeholder("main2")
                    @Html.Sitecore().Placeholder("main3")
                    @Html.Sitecore().Placeholder("main4")
                </div>
            </div>
        </div>
    </div>
    

</body>
</html>

